<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">
              <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i> BookShop
          </h6>
          <p>
            We are glad to welcome you to our book corner!
              Here, every turn of the page opens up new horizons of knowledge and emotions.
              Immerse yourself in the world of words with us!
          </p></small>
          </div>
          <div class="col-6 col-md">
            <h5>Products</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">CD/DVD</a></li>
              <li><a class="text-muted" href="#">Bookmarks</a></li>
              <li><a class="text-muted" href="#">Postcards</a></li>
          </div>
          <div class="col-6 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Bishkek, Chuy region, KGZ</a></li>
              <li><a class="text-muted" href="#">bookshop@gmail.com</a></li>
              <li><a class="text-muted" href="#">+ 996 700 567 89</a></li>
              <li><a class="text-muted" href="#">+ 996 504 567 88</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
</footer>

