<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">BookShop</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Home</a>
            <a class="p-2 text-dark" href="#">Books of the Month</a>
            <a class="p-2 text-dark" href="#">Highlights</a>
            <a class="p-2 text-dark" href="#">New Releases</a>
            <a class="p-2 text-dark" href="{% url 'add_book' %}">Add Book</a>
            <a class="p-2 text-dark" href="{% url 'delete_book' %}">Delete Book</a>
            <a class="p-2 text-dark" href="{% url 'edit_book' %}">Edit Book</a>
        </nav>
        <a class="btn btn-outline-info" href="#">Sign up</a>
    </div>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>

</header>
